{% extends 'flatpages/default.html' %}

{% load censor %}
{% load current_time_tag %}
{% load url_replace_tag %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Поиск статей</h1>
   <h3>{% current_time %}</h3>
   {#<h3>Всего статей: {{ news_search|length }}</h3>#}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if articles_search %}
       <table>
           <tr>
               <td><p><strong>Заголовок</strong></p></td>
               <td><p><strong>Дата публикации</strong></p></td>
               <td><p><strong>Содержание</strong></p></td>
           </tr>

           {% for articles in articles_search %}
           <tr>
               <td>{{ articles.post_title|censor }}</td>
               <td>{{ articles.post_date|date:'d.m.Y' }}</td>
               <td>{{ articles.post_text|censor|truncatechars:20 }}</td>
               <td><a class="nav-link" href="{% url 'articles_detail' pk=articles.id %}">Просмотр</a></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}