{% extends 'flatpages/default.html' %}
{% load censor %}

{% block title %}
<h1>{{ news.post_title }}</h1>
{% endblock title %}



{% block content %}
<h1>{{ news.post_title|censor }}</h1>
<h3>Дата публикации: {{ news.post_date|date:'d.m.Y' }}</h3>
<h3>{{ news.post_text|censor }}</h3>

{% if is_not_authors %}
{% else %}
<a class="nav-link" href="{% url 'news_update' pk=news.id %}">Редактировать</a>
<a class="nav-link" href="{% url 'news_delete' pk=news.id %}">Удалить</a>
{% endif %}
{% endblock content %}